[phases.setup]
nixPkgs = ["ffmpeg"]
aptPkgs = ["chromium", "chromium-driver"]

[phases.install]
cmds = ["pip install -r requirements.txt"]

[start]
cmd = "gunicorn app:app --bind 0.0.0.0:$PORT --workers 2 --timeout 300 --worker-class sync"
